.container {
  .projectsMain__container {
    // backdrop-filter: blur(10px);
    //z-index: -1;
    overflow: hidden;
    //position: relative;
    //z-index: 1; /* Asegura que esté sobre el fondo */
    //padding: 20px;
    //backdrop-filter: blur(10px); /* Aplica el desenfoque */
    //background: rgba(83, 22, 22, 0.065); /* Ajusta la transparencia */
    .bacgroundM {
      background-color: #171717;
      height: 500px;
      width: 120vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-10deg); /* Centra y rota el elemento */
      transform-origin: center; /* Mantiene el centro como punto de rotación */
      //background-color: lightblue;
      //padding: 20px;
      text-align: center;
      backdrop-filter: blur(15px);
      opacity: 0.9;
    }
  }
}
