@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  /*
  padding-left: 1rem;
  padding-right: 1rem;*/
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
span {
  color: #171717;
}
/*color de la selection con el cursor*/
::selection {
  background-color: #1f1f1f;
  color: #fafafa;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 68% 5%;
    --muted: 0 16% 93%;
    --muted-foreground: 0 0% 26%;
    --popover: 0 31% 100%;
    --popover-foreground: 0 68% 5%;
    --card: 0 31% 100%;
    --card-foreground: 0 68% 5%;
    --border: 0 4% 94%;
    --input: 0 4% 94%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 18%;
    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 18%;
    --accent: 0 0% 98%;
    --accent-foreground: 0 0% 18%;
    --destructive: 3 87% 42%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 98%;
    --radius: 0.5rem;
    --radius-xl: 0.75rem;
  }

  .dark {
    --background: 0 54% 3%;
    --foreground: 0 17% 97%;
    --muted: 0 16% 7%;
    --muted-foreground: 0 0% 74%;
    --popover: 0 54% 3%;
    --popover-foreground: 0 17% 97%;
    --card: 0 54% 3%;
    --card-foreground: 0 17% 97%;
    --border: 0 4% 13%;
    --input: 0 4% 13%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 18%;
    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 18%;
    --accent: 0 0% 98%;
    --accent-foreground: 0 0% 18%;
    --destructive: 3 87% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
