.main__container {
  //padding-top: 13rem;
  padding-bottom: 7rem;
  .buttons__container {
    display: flex;
    //justify-content: space-between;
    //gap: calc(1rem + 13vw);
    .icons {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
