.form {
  input {
    //border: 3px solid;
  }
  input:focus {
    //transition: border-color 0.3s;
    //border-color: red;
    //outline: none;
  }
  .button {
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius-xl);
    //max-width: 15rem;
    justify-content: center;
    background-color: rgba(55, 65, 81, 0.1); // bg-neutral-700/10
    padding: 0.75rem; // p-3
    line-height: 1; // leading-none
    color: #fafafa; // text-neutral-700
    transition:
      background-color 0.2s ease,
      color 0.2s ease; // transition

    &:hover {
      background-color: #a3a3a3; // hover:bg-neutral-700
      color: #0f0f0f; // hover:text-white
    }

    // Modo oscuro
    @media (prefers-color-scheme: dark) {
      background-color: rgba(156, 163, 175, 0.1); // dark:bg-neutral-400/10
      color: #9ca3af; // dark:text-neutral-400

      &:hover {
        background-color: #9ca3af; // dark:hover:bg-neutral-400
        color: #000000; // dark:hover:text-black
      }
    }
  }
}
